## importing needed liberary

In [345]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib

Using matplotlib backend: module://matplotlib_inline.backend_inline

## dowemload the data

### data describtion
• Brand: The brand of the watch.

• Model: The model name or number of the watch.

• Case Material: The material used to make the watch case (e.g., stainless steel, titanium, gold).

• Strap Material: The material used to make the watch strap or bracelet (e.g., leather, rubber, metal).

• Movement Type: The type of movement used in the watch (e.g., automatic, manual, quartz).

• Water Resistance: The level of water resistance for the watch (e.g., 30 meters, 100 meters, 600 meters).

• Case Diameter (mm): The diameter of the watch case in millimeters.

• Case Thickness (mm): The thickness of the watch case in millimeters.

• Band Width (mm): The width of the watch strap or bracelet in millimeters.

• Dial Color: The color of the watch dial (e.g., black, blue, silver).

• Crystal Material: The material used for the watch crystal (e.g., sapphire, mineral, hardlex).

• Complications: Any additional functions or features beyond timekeeping (e.g., date display, chronograph, GMT).

• Power Reserve: The amount of time the watch can run without winding or wearing (e.g., 48 hours, 72 hours).

• Price (USD): The retail price of the watch in US dollars.

In [347]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rkiattisak/luxury-watches-price-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)
Path to dataset files: C:\Users\Moga\.cache\kagglehub\datasets\rkiattisak\luxury-watches-price-dataset\versions\1

In [348]:
data = pd.read_csv(path+"\\Luxury watch.csv")

### exploring the data set

In [350]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                507 non-null    object
 1   Model                507 non-null    object
 2   Case Material        507 non-null    object
 3   Strap Material       507 non-null    object
 4   Movement Type        507 non-null    object
 5   Water Resistance     507 non-null    object
 6   Case Diameter (mm)   507 non-null    float64
 7   Case Thickness (mm)  507 non-null    float64
 8   Band Width (mm)      507 non-null    float64
 9   Dial Color           507 non-null    object
 10  Crystal Material     507 non-null    object
 11  Complications        385 non-null    object
 12  Power Reserve        493 non-null    object
 13  Price (USD)          506 non-null    object
dtypes: float64(3), object(11)
memory usage: 55.6+ KB

In [351]:
data.describe()

       Case Diameter (mm)  Case Thickness (mm)  Band Width (mm)
count          507.000000           507.000000       507.000000
mean            41.046154            11.588343        21.105523
std              2.535339             2.491481         1.658375
min             27.500000             5.000000        15.000000
25%             40.000000             9.800000        20.000000
50%             41.000000            12.000000        20.000000
75%             42.000000            13.300000        22.000000
max             46.500000            17.500000        28.000000

In [352]:
data

,Brand,Model,Case Material,Strap Material,Movement Type,Water Resistance,Case Diameter (mm),Case Thickness (mm),Band Width (mm),Dial Color,Crystal Material,Complications,Power Reserve,Price (USD)
0,Rolex,Submariner,Stainless Steel,Stainless Steel,Automatic,300 meters,40.0,13.00,20.0,Black,Sapphire,Date,48 hours,"9,500"
1,Omega,Seamaster,Titanium,Rubber,Automatic,600 meters,43.5,14.47,21.0,Blue,Sapphire,Date,60 hours,"5,800"
2,Tag Heuer,Carrera,Stainless Steel,Leather,Automatic,100 meters,41.0,13.00,20.0,White,Sapphire,Chronograph,42 hours,"4,200"
3,Breitling,Navitimer,Stainless Steel,Stainless Steel,Automatic,30 meters,43.0,14.25,22.0,Black,Sapphire,Chronograph,70 hours,"7,900"
4,Cartier,Tank Solo,Stainless Steel,Leather,Quartz,30 meters,31.0,6.05,20.0,Silver,Sapphire,NaN,NaN,"2,800"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,Breguet,Classique,18k Rose Gold,Leather,Automatic,30 meters,38.5,8.25,20.0,White,Sapphire,Date,38 hours,"21,500"
503,Blancpain,Fifty Fathoms,Stainless Steel,Fabric,Automatic,300 meters,45.0,15.50,23.0,Black,Sapphire,Date,120 hours,"13,500"
504,Longines,Master Collection,Stainless Steel,Leather,Automatic,30 meters,38.5,9.70,20.0,Blue,Sapphire,Date,64 hours,"1,800"
505,Vacheron Constantin,Overseas,Stainless Steel,Stainless Steel,Automatic,150 meters,41.5,11.00,22.0,Blue,Sapphire,Date,40 hours,"19,000"
506,Frederique Constant,Classics,Stainless Steel,Leather,Automatic,50 meters,40.0,10.60,20.0,Silver,Sapphire,Date,38 hours,"1,200"

In [353]:
brand_counts = data['Brand'].value_counts()
mask = brand_counts[brand_counts > 2].index
filtered_data = data[data['Brand'].isin(mask)]

In [354]:
data["Brand"] = data["Brand"].where(data.Brand.isin(filtered_data.Brand), "other")

In [355]:
data.Brand.value_counts()

Brand
IWC                    39
Audemars Piguet        38
Patek Philippe         33
Zenith                 30
Blancpain              29
Rolex                  27
Breguet                26
Hublot                 26
Vacheron Constantin    25
Panerai                25
Omega                  23
Girard-Perregaux       20
Cartier                19
other                  17
Jaeger-LeCoultre       16
Breitling              16
Tudor                  14
Chopard                14
Tag Heuer              11
Longines               10
Ulysse Nardin          10
Montblanc               9
Piaget                  6
Jaquet Droz             5
Seiko                   5
Hamilton                4
Bell & Ross             4
Sinn                    3
Bulgari                 3
Name: count, dtype: int64

In [356]:
data = data.dropna(subset="Price (USD)")

In [357]:
data["Complications"] = data["Complications"].fillna("No_features")

C:\Users\Moga\AppData\Local\Temp\ipykernel_13040\1469928630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Complications"] = data["Complications"].fillna("No_features")

In [358]:
def convert_to_num(data,label,word):
    data[label] = data[label].str.replace(word,"")
    data[label] = pd.to_numeric(data[label],errors="coerce")

In [359]:
convert_to_num(data,"Power Reserve"," hours")
convert_to_num(data ,"Water Resistance","meters" )

C:\Users\Moga\AppData\Local\Temp\ipykernel_13040\3130242806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[label] = data[label].str.replace(word,"")
C:\Users\Moga\AppData\Local\Temp\ipykernel_13040\3130242806.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[label] = pd.to_numeric(data[label],errors="coerce")

In [360]:
convert_to_num(data,"Price (USD)",",")

C:\Users\Moga\AppData\Local\Temp\ipykernel_13040\3130242806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[label] = data[label].str.replace(word,"")
C:\Users\Moga\AppData\Local\Temp\ipykernel_13040\3130242806.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[label] = pd.to_numeric(data[label],errors="coerce")

In [361]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 506 entries, 0 to 506
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                506 non-null    object
 1   Model                506 non-null    object
 2   Case Material        506 non-null    object
 3   Strap Material       506 non-null    object
 4   Movement Type        506 non-null    object
 5   Water Resistance     506 non-null    int64
 6   Case Diameter (mm)   506 non-null    float64
 7   Case Thickness (mm)  506 non-null    float64
 8   Band Width (mm)      506 non-null    float64
 9   Dial Color           506 non-null    object
 10  Crystal Material     506 non-null    object
 11  Complications        506 non-null    object
 12  Power Reserve        490 non-null    float64
 13  Price (USD)          506 non-null    int64
dtypes: float64(4), int64(2), object(8)
memory usage: 59.3+ KB

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing  import StandardScaler,OneHotEncoder,OrdinalEncoder

In [364]:
num_pipe= Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler",StandardScaler())
    ]
)
cat_pipe = Pipeline(steps=[
            ("ordinal_encoder", OrdinalEncoder()),    
        ("cat_encoder", OneHotEncoder(sparse_output=False)),
])

In [365]:
num_col = ['Water Resistance', 'Case Diameter (mm)', 'Case Thickness (mm)','Band Width (mm)','Power Reserve']
cat_col = ['Brand', 'Model', 'Case Material', 'Strap Material', 'Movement Type','Dial Color', 'Crystal Material', 'Complications']

In [366]:
from sklearn.compose import ColumnTransformer
preprocess_pipe = ColumnTransformer([
        ("num", num_pipe, num_col),
        ("cat", cat_pipe, cat_col),
    ])

In [367]:
X = preprocess_pipe.fit_transform(data.drop("Price (USD)",axis=1))

In [368]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,data["Price (USD)"], test_size=0.2, random_state=24)

In [369]:
x_train

array([[-0.41815733, -0.01746314,  1.48916833, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.19087392,  1.56045619,  1.569509  , ...,  1.        ,
         0.        ,  0.        ],
       [-0.14998546,  1.16597636,  1.16780564, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.52044423, -0.01746314,  0.4447396 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.14998546, -1.9898623 ,  0.16354725, ...,  0.        ,
         0.        ,  0.        ],
       [-0.14998546,  1.16597636,  0.58533577, ...,  1.        ,
         0.        ,  0.        ]])

## selecting and training the model

In [370]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.ensemble import RandomForestRegressor

In [371]:
models = {
    "Linear Regression": (LinearRegression(), {
        "fit_intercept": [True, False],
    }),
    "Ridge Regression": (Ridge(max_iter=10000), {
        "alpha": [0.1, 1.0, 10.0],
        "fit_intercept": [True, False],
    }),
    
    "Random Forest": (RandomForestRegressor(), {
        "n_estimators": [10, 50, 100],
        "max_depth": [None, 10, 20],
    })
}

In [372]:
results = {}
for model_name, (model, param_grid) in models.items():
    grid_search = GridSearchCV(model, param_grid, cv=5, scoring="r2")
    grid_search.fit(x_train, y_train.values.ravel())

    results[model_name] ={"score" :grid_search.best_score_,
                          "parm" : grid_search.best_params_}

In [373]:
# Linear Regression explain the data best
results

{'Linear Regression': {'score': np.float64(0.8350918698087512),
  'parm': {'fit_intercept': True}},
 'Ridge Regression': {'score': np.float64(0.8438059255068235),
  'parm': {'alpha': 1.0, 'fit_intercept': True}},
 'Random Forest': {'score': np.float64(0.836163627387632),
  'parm': {'max_depth': 20, 'n_estimators': 10}}}

## predicting and scoring the model

In [374]:
lr = LinearRegression(fit_intercept = True)
lr.fit(x_train,y_train)
predict = lr.predict(x_test)

In [378]:
# importing the metrics 
from sklearn.metrics import r2_score,mean_absolute_error,max_error

In [379]:
def scoring(y_test,predict):
    r2 = r2_score(y_true=y_test,y_pred=predict)
    mean = mean_absolute_error(y_true=y_test,y_pred=predict)
    max = max_error(y_true=y_test,y_pred=predict)
    return(f"r2 score =  {r2},mean absolute error = {mean},max error = {mean}")

In [381]:
scoring(y_test,predict)

'r2 score =  0.819594169149606,mean absolute error = 2483.564644235506,max error = 2483.564644235506'